{{!< default}}
<section id="main">
	<div id="sidebar-button"></div>
	<section id="main-content">
		<header>
			<h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
			<p id="description">{{@blog.description}}</p>
		</header>
			<section id="posts">
				{{#foreach posts}}
					{{#if @first}}
						{{#if author.image}}
							<script>
								$('#user-avatar').css('background-image','url({{author.image}})');
								$('#user-name').html("{{author.name}}");
								$('#user-description').html("{{author.bio}}");
							</script>
						{{else}}
							<script>
								$('#user-name').html("{{author.name}}");
								$('#user-description').html("{{author.bio}}");
							</script>
						{{/if}}
					{{/if}}
				<article id="post-{{id}}">
					<div class="post-content">
						<h2><a href="{{url}}">{{title}}</a></h2>
						<time>{{date published_at format="DD MMMM YYYY"}}</time>
						<div class="post-text-for-thumb">
							{{content words="20"}}
						</div>
						<div class="post-text">
							{{excerpt words="100"}}...
						</div>
						<div class="post-bottom">
							<span class="post-tags">
							{{#foreach tags}}
								<a>#{{name}}</a>
							{{/foreach}}
							</span>
							<a href="{{url}}"><button class="read-more">Read more</button></a>
						</div>
					</div>
				</article>
				{{/foreach}}
			</section>
		</section>
		<div id="push"></div>
	</section>
	<section id="bottom">
		{{pagination}}
		<footer>
			<div id="footer-content" class="no-mobile">
				All content copyright {{@blog.title}} &copy; {{date format="YYYY"}} &#149; All rights reserved. <br/>
				Proudly published with <a href="http://ghost.org">Ghost</a> &  <a href="https://creativemarket.com/MakeTheWeb?u=MakeTheWeb">Foto Theme</a> by <a href="http://maketheweb.pl">MakeTheWeb</a>.
			</div>
			<div id="footer-content" class="mobile">
				All content copyright {{@blog.title}} {{date format="YYYY"}}<br/>
				Published with <a href="http://ghost.org">Ghost</a> &  <a href="https://creativemarket.com/MakeTheWeb?u=MakeTheWeb">Foto</a> by <a href="http://maketheweb.pl">MakeTheWeb</a>.
			</div>
		</footer>
	</section>