{{!< default}}
<script>permalink = true;</script>
<section id="main" class="permalink">
	<div id="sidebar-button"></div>
		<section id="main-content">
			<header>
			<h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
			<p id="description">{{@blog.description}}</p>
		</header>
			<section id="posts">
				{{#post}}
				{{#if author.image}}
					<script>
						$('#user-avatar').css('background-image','url({{author.image}})');
						$('#user-name').html("{{author.name}}");
						$('#user-description').html("{{author.bio}}");
					</script>
				{{else}}
					<script>
						$('#user-name').html("{{author.name}}");
						$('#user-description').html("{{author.bio}}");
					</script>
				{{/if}}
				<article id="post-{{id}}">
					<div class="post-content">
						<h2><a href="{{url}}">{{title}}</a></h2>
						<time>{{date published_at format="DD MMMM YYYY"}}</time>
						<div class="post-text">
							{{content}}
						</div>
						<div class="post-bottom">
							<span class="post-tags">
							{{#foreach tags}}
								<a>#{{name}}</a>
							{{/foreach}}
							</span>
							<a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><button class="social-button" id="fb-button"></button></a>
							<a href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><button class="social-button" id="tw-button"></button></a>
						</div>
						<div id="disqus_thread"></div>
					    <script type="text/javascript">
					    	if (disqus_enabled == true) {
						        (function() {
						            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
						            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						        })();
					        } else {
					        	$('#disqus_thread').remove();
					        }
					    </script>
					    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					</div>
				</article>
				{{/post}}
			</section>
		</section>
		<div id="push"></div>
	</section>
	<section id="bottom">
		<footer>
			<div id="footer-content" class="no-mobile">
				All content copyright {{@blog.title}} &copy; {{date format="YYYY"}} &#149; All rights reserved. <br/>
				Proudly published with <a href="http://ghost.org">Ghost</a> &  <a href="https://creativemarket.com/MakeTheWeb?u=MakeTheWeb">Foto Theme</a> by <a href="http://maketheweb.pl">MakeTheWeb</a>.
			</div>
			<div id="footer-content" class="mobile">
				All content copyright {{@blog.title}} {{date format="YYYY"}}<br/>
				Published with <a href="http://ghost.org">Ghost</a> &  <a href="https://creativemarket.com/MakeTheWeb?u=MakeTheWeb">Foto</a> by <a href="http://maketheweb.pl">MakeTheWeb</a>.
			</div>
		</footer>
	</section>